body {
  background-color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 15px;
  margin: 0;
  overflow-x: hidden;
  color: #333a56;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #333a56;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: right;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 15px;
}

.header {
  background-color: white;
  width: 100%;
  padding: 17vh 0 5vh 0;
  position: relative;
}

.profile {
  background-image: url("images/profile.jpg");
  background-size: 155px 160px;
  background-position: center;
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.header h2 {
  color: #333a56;
  text-align: center;
}

.header p {
  color: #333a56;
  text-align: center;
}

#programming {
  width: 300px;
  margin: 0 auto;
}

.button,
#new,
#old {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Mono", monospace;
  background-color: transparent;
  margin-left: 7%;
  font-size: 17px;
  border: none;
  color: #333a56;
  padding: 20px 0 10px 0;
  text-decoration: none;
  cursor: pointer;
}

#old {
  margin-left: 20px;
  padding: 0;
}

#old:hover {
  font-weight: bold;
}

#new:hover {
  font-weight: bold;
}

.container {
  max-width: 80%;
  margin: 0px auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 50px;
}

.box-item {
  position: relative;
  width: 300px;
  height: auto;
  margin: 30px 20px;
}

.box-photo {
  background-color: #777e9c;
  width: 300px;
  height: 300px;
  transition: width 0.5s, height 0.5s, transform 0.5s;
}

.box-photo:hover {
  width: 310px;
  height: 310px;
  transform: translate(-5px, 0px);
}

.box-content {
  position: relative;
  padding: 2.5px 5px 2.5px 5px;
  font-size: smaller;
  background-color: white;
}

.footer {
  height: auto;
  padding: 20px;
  background-color: #333a56;
}

.footer p {
  text-align: center;
  color: white;
  text-decoration: none;
}

.contact-list {
  margin: 0 auto;
  width: 100px;
  height: 25px;
}
